body {
    background-color: rgb(28, 28, 28);
}

.show {
    display: flex;
    justify-self: center;
    margin-top: 40px;
    width: 330px;
    height: 60px;
    border-radius: 20px;
    font-size: larger;
}

.main {
    
    display: flex;
    justify-self: center;
    height: 70vh;
    align-items: center;
    
}


.numbers {
    display: grid;
    grid-template-columns: repeat(3,50px);
    gap: 35px;
    

}

.numbers button {
    background: rgb(144, 0, 255);
    color: white;
    height: 75px;
    width: 75px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.numbers button:hover {
    background: rgb(168, 125, 255);
}

.zero {
    grid-column: 2;

}
.clear {
    grid-column: 1;
}
.equals{
    background: rgb(255, 255, 255) !important;
    color: rgb(144, 0, 255) !important;
    
}

.equals:hover {
    background: rgb(235, 235, 235) !important;

}

.operator {
    display: grid;
    grid-template-columns: repeat(1,50px);
    gap: 35px;
    margin-left: 40px;
}

.operator button {
    background: rgb(255, 255, 255);
    color: rgb(144, 0, 255);
    font-size: 18px;
    width: 75px;
    height: 75px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.operator button:hover {
    background: rgb(235, 235, 235);
}

